{% extends 'base.html.twig' %}
{% block body %}

<h1> bienvenue </h1>

<section class="figures">
    <div class="row">
       <div class="container col-lg-8">
        {% for figure in figures %}
        
            <div class="card ">
                <div class="card-image waves-effect waves-block waves-light">

                    <img class="activator" src="./assets/images/{{ figure.lienPhoto }}" alt="photo de la figure">
                </div>


                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">{{ figure.nom }}<i
                            class="material-icons right"></i></span>
                    <p>{{ figure.GroupeFigure }}</p>
                    <p>{{ figure.description }}</p>

                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Card Title<i
                                class="material-icons right">close</i></span>

                        <p>{{ figure.lienVideo }}</p>
                    </div>
                </div>
            


            {% endfor %}
        </div>
           </div>




</section>

        {% endblock %}



