{% extends 'base.html.twig' %}

{% block body %}

<section id="figure">

  <h2>{{figure.Nom}}</h2>
  <div class="row">
    <div class="col s5 m6">
      <div class="card">
        <div class="card-image">
         
        </div>
        <div class="card-content">
          <img src="/assets/images/{{ figure.LienPhoto }}" width=350px
            height=150px>
         <p>{{ figure.description }}</p>
           
        </div>
        <div class="card-action">

          <a href="{{path('figure_edit', {'id':figure.id}) }}">mettre à jour </a> </p>

          <a href="{{path('figure_show', {'id':figure.id}) }}">voir la figure </a> </p>

        </div>
      </div>
    </div>
  </div>

</section>

{% for forum in comment %}
    <div class="Forum">
      <div class="row">
      

       
        <div class="col-3">
         <div class="row">
         <div class="col-3">
           <img class="activator" src="/assets/images/{{forum.getUser().getlienPhoto()}}"  alt="photo de la figure" width=80px height=80px >
            </div>
                    
          
        </div>
         </div>
        
        <div class="col">

          {{forum.getUser().getNom()}} (<small> {{forum.createdAt | date('d/m/Y à H.i')}} </small>)

          {{forum.content | raw}}

        </div>
      </div>
       

  {% endfor %}

  {{ knp_pagination_render(comment) }}


  <!--ici on affichera le formulaire pour creer un commetnaires-->


 {{ form(CommentType) }}





  {% endblock %}


